@import "tailwindcss";

@theme{
    --font-client: 'Zalando', sans-serif;
    --font-iconly: 'Iconly';
    --color-primary: rgba(255, 72, 0, 1);

    --color-paragraph: rgba(110, 113, 145, 1);
    --color-heading: rgba(31, 31, 57, 1);
    --shadow-header: 0px 6px 32px 0px rgba(0, 0, 0, 0.04);
    --shadow-gradientbtn: 0px 12px 32px 0px rgba(255, 34, 40, 0.25);
    --shadow-outlinebtn: 0px 12px 32px 0px rgba(23, 31, 70, 0.08);
    --shadow-btn: 0px 8px 40px 0px rgba(23, 31, 70, 0.08);
    --shadow-card: 0px 6px 32px 0px rgba(0, 0, 0, 0.04);
}

@layer base{
    html {@apply scroll-smooth sm:overflow-x-auto overflow-x-hidden}
    body {@apply font-client  text-heading scroll-smooth! sm:overflow-x-visible overflow-x-hidden}
    .db-header.fixed nav { @apply bg-white shadow-header rounded-full backdrop-blur-[20px]}
    .db-header { @apply fixed top-0 left-0 z-30 w-full transition-all duration-300 }
    .section-title { @apply text-sm font-medium border border-[#EFF0F6] bg-[#FCFCFC] rounded-full px-4 py-2 leading-tight mb-6 block mx-auto w-fit}

    .dropdown-group { @apply relative leading-0}
    .dropdown-btn { @apply cursor-pointer }
    .dropdown-list { @apply scale-y-0 opacity-0 transition-all duration-300 origin-top bg-white}
    .dropdown-list.active { @apply scale-y-100 opacity-100 }

    .sticky-header { @apply backdrop-blur-[100px] shadow-header bg-linear-90 from-white/90 from-0% to-white/50}

    .hero-section {@apply bg-linear-to-b from-[#FFF7F0] to-white/10 overflow-hidden relative}
    .hero-section::after {@apply content-[''] hidden lg:block absolute -top-30 left-0 z-[-999] -rotate-45 blur-[52px] w-24 h-[440px] bg-linear-to-b from-[#FF974D99] from-80% to-[#FF974D00]}
    .hero-section::before {@apply content-[''] hidden lg:block absolute -top-30 right-0 z-[-999] rotate-45 blur-[52px] w-24 h-[440px] bg-linear-to-b from-[#FF974D99] from-80% to-[#FF974D00]}

    .primary-button { @apply py-5 px-6 sm:px-8 bg-linear-to-r from-primary to-[#FF004D] rounded-full text-white text-lg leading-none font-medium active:shadow-none transition-all shadow-gradientbtn duration-300 hover:to-primary hover:from-[#FF004D]}
    .outline-button {@apply py-5 px-6 sm:px-8 shadow-outlinebtn bg-linear-to-r from-primary to-[#FF004D] bg-clip-text text-transparent hover:bg-clip-border hover:text-white border border-[#F19E18] hover:border-transparent rounded-full leading-none text-lg font-medium transition-all duration-300}

    .ecosystem-layout {@apply flex flex-wrap gap-6}

    .hero-heading {@apply text-[32px] sm:text-[40px] lg:text-[54px] font-normal mb-6 md:mb-8 leading-[38px] sm:leading-[46px] lg:leading-[60px] text-center lg:text-left}
    .hero-description {@apply text-sm sm:text-base lg:text-lg font-normal mb-8 lg:mb-12 text-center lg:text-left leading-tight}
    .section-heading {@apply text-[32px] sm:text-[48px] font-semibold mb-6 leading-tight}
    .section-description {@apply mx-auto text-center text-lg font-normal text-paragraph leading-tight}
    .card {@apply rounded-2xl border border-[#EFF0F6] p-8 bg-white relative z-10}
    .transparent-title {@apply inline-flex lg:self-start mx-auto lg:mx-0 bg-white/10 border border-white/15 backdrop-blur-md rounded-full px-4 py-2 font-medium text-sm text-white}

    .cta-section {@apply relative rounded-[32px] overflow-hidden bg-linear-to-br from-[#FFFFFF] to-[#FFF5F1] border border-[#FFE9E1] p-10 md:p-16}
    .cta-glow-1 {@apply absolute -top-32 -left-32 w-[280px] h-[280px] rounded-full bg-[#f36805] opacity-25 blur-[120px] pointer-events-none}
    .cta-glow-2 {@apply absolute -bottom-32 -right-32 w-[280px] h-[280px] rounded-full bg-[#f19e18] opacity-20 blur-[120px] pointer-events-none}
    .center-glow {@apply max-w-[278px] w-full aspect-square rounded-full bg-[#FFC9A3] absolute top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2 blur-[200px]}

    .faq-item {@apply p-6 text-left w-full cursor-pointer bg-white border border-[#EFF0F6] rounded-2xl shadow-card transition-all duration-300}
    .faq-text {@apply h-0 origin-top overflow-hidden transition-all duration-300 ease-in-out}
    .icon-div {@apply w-8 h-8 rounded-full bg-[#EFF0F6] flex items-center justify-center shrink-0}
    .transparent-card {@apply rounded-[16px] bg-white/5 border border-white/10 backdrop-blur-md p-4 flex flex-col gap-3}

    .outline-hover-btn {@apply text-base font-medium w-full p-3 rounded-full border border-[#EFF0F6] group-hover:bg-linear-to-r group-hover:from-primary group-hover:border-none group-hover:to-[#FF004D] group-hover:text-white transition-all duration-200 group-hover:shadow-gradientbtn}
}

@layer utilities{
    .container { @apply max-w-[1246px] mx-auto px-5 sm:px-6}
}

    /* DRAWER */
    .drawer { @apply w-screen h-full fixed top-0 ltr:left-0 rtl:right-0 z-60 opacity-0 invisible bg-black/40 transition-all duration-500 backdrop-blur-sm}
    .drawer.active { @apply opacity-100 visible }
    .drawer-content { @apply fixed p-6 shadow-2xl top-0 ltr:right-0 rtl:left-0 ltr:translate-x-full rtl:-translate-x-full z-50 w-[85%] max-w-[360px] h-screen overflow-y-auto transition-all duration-500 bg-white }
    .drawer.active .drawer-content { @apply ltr:translate-x-0 rtl:translate-x-0 }
    .drawer-header { @apply flex justify-between gap-5 p-4 border-b border-slate-200 }
    .drawer-title { @apply capitalize text-lg font-medium }
    .drawer-body { @apply px-5 py-8 }
